<!DOCTYPE html>
<html>
<head>
    <title>ShopEase</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="navbar">
    <div class="logo">ShopEase</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>
            <a href="/products" style="color:white;text-decoration:none;">
                Products
            </a>
        </div>
    </div>

    <section class="hero">
        <h1>Welcome To ShopEase</h1>

        <p>Your One Stop Online Store</p>

        <a href="/products" class="btn">
            Shop Now
        </a>
    </section>
<footer>
    © 2026 ShopEase | Developed by Mohana Devaraj
</footer>
</body>
</html>