<!DOCTYPE html>
<html>
<head>
    <title>Gaming Laptop</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="navbar">
    <div class="logo">ShopEase</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>
            <a href="/">Home</a>
            <a href="/products">Products</a>
        </div>
    </div>

    <div class="product-details">

        <div class="product-image">
            <img src="/images/laptop.jpg" alt="Gaming Laptop">
        </div>

        <div class="product-info">

            <h1>Gaming Laptop</h1>

            <h2>₹59,999</h2>

            <p>
                High-performance gaming laptop with:
            </p>

            <ul>
                <li>Intel Core i7 Processor</li>
                <li>16GB RAM</li>
                <li>512GB SSD Storage</li>
                <li>NVIDIA RTX Graphics</li>
                <li>15.6-inch Full HD Display</li>
            </ul>

            <button>Add To Cart</button>

        </div>

    </div>
    <footer>
    © 2026 ShopEase | Developed by Mohana Devaraj
</footer>

</body>
</html>