<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="navbar">
    <div class="logo">ShopEase</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

<div class="form-container">

    <h1>Create Account</h1>

    <form action="/register" method="POST">

    <input
        type="text"
        name="name"
        placeholder="Enter Name"
        required
    >

    <input
        type="email"
        name="email"
        placeholder="Enter Email"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="Enter Password"
        required
    >

    <button type="submit">
        Register
    </button>

</form>
</div>
<footer>
    © 2026 ShopEase | Developed by Mohana Devaraj
</footer>

</body>
</html>