<!DOCTYPE html>
<html>
<head>
    <title>Order Success</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <div class="logo">ShopEase</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>

<div class="hero">
    <h1>🎉 Order Placed Successfully!</h1>

    <p>Thank you for shopping with ShopEase.</p>

    <a href="/products" class="btn">
        Continue Shopping
    </a>
</div>
<footer>
    © 2026 ShopEase | Developed by Mohana Devaraj
</footer>
</body>
</html>